.carousel-container {
  margin: 20px auto;
}

.slick-slide {
  padding: 0 10px;
}

.slick-slide img {
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.slick-slide img:hover {
  transform: scale(1.05);
}

.slick-dots {
  bottom: -30px;
}

.slick-dots li button:before {
  font-size: 14px;
  color: #ff5722;
}

.slick-dots li.slick-active button:before {
  color: #ff8a50;
}



.custom-arrow {
  width: 30px;
  height: 30px;
  background: rgba(0, 0, 0, 0.5); 
  color: #fff; 
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1; 
}
